@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'MuseoSlab';
    src: url(MuseoSlab/MuseoSlab-500.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'MuseoSlab';
    src: url(MuseoSlab/MuseoSlab-700.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'MuseoSlab';
    src: url(MuseoSlab/MuseoSlab-900.ttf);
    font-weight: 900;
}

:root{
    --verde: #194039;
    --amarelo: #F2D16D;
    --ouro: #D9AA55;
    --salmao: #F26A4B;
    --branco: #FCFCFC;
    --preto: #1E1E1E;
    --cinza: #333333;
    --cinza-claro: #ececec;
}

*{
    border: none;
    outline: none;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins';
    font-size: .95rem;
    transition: all 300ms ease-in-out;
}

body{
    width: 100%;
    height: 100vh;
}

/*BOTÃO*/

.primary_btn{
    padding: 1rem 2rem;
    font-family: 'MuseoSlab';
    color: var(--preto);
    font-weight: 700;
    display: flex;
    justify-content: center;
    width: fit-content;
    background-color: var(--amarelo);
}

.primary_btn:hover{
    background-color: #ceb25d;
}


/*HERO SECTION*/

.hero_section{
    width: 100%;
    height:95vh;
    display: flex;
    padding-top: 3rem;
    flex-direction: row;
    gap: 0;
    background-color: var(--verde);
}

.hero_content{
    background-image: url(/images/texture.svg);
    width: 50%;
    background-size: auto;
    height: 100%;
    padding: 4rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    
}

.hero_content h1{
    color: var(--branco);
    font-family: 'MuseoSlab';
    font-weight: 900;
    font-size: 2.3rem;
}

.hero_content h1 b{
    color: var(--amarelo);
    font-family: 'MuseoSlab';
    font-weight: 900;
    font-size: 2.3rem;
}

.hero_content h4{
    font-size: .95rem;
    font-weight: 400;
    color: var(--branco)
}

.hero_img{
    background-image: url(/images/ifpa_gray.jpg);
    background-size: cover;
    width: 50%;   
}

@media screen and (max-width: 800px){
    .hero_section{
        width: 100%;
        height:95vh;
        display: flex;
        padding-top: 3rem;
        background-image: url(/images/ifpa_gray.jpg);
        gap: 0;

    }

    .hero_content{
        background-image: url(/images/texture.svg);
        width: 100%;
        background-size: auto;
        height: 100%;
        padding: 4rem;
        display: flex;
        gap: 2rem;
        flex-direction: column;
        justify-content: flex-end;
        
    }

    .hero_img{
        display: none;
    }
}


/*ULTIMA NOTICIA*/
.ultima_noticia{
    display: flex;
    width: 100%;
    gap: 2rem;
    align-items: center;
    flex-direction: column;
    padding: 10rem;
    padding-bottom: 4rem;
}

.top_noticia{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    gap: 3rem;
}

.titulo_noticia{
    display: flex;
    flex-direction: column;
    gap: .3rem;
    text-align: center;
    align-items: center;
}

.titulo_noticia h2{
    font-family: 'MuseoSlab';
    font-weight: 900;
    font-size: 1.5rem;
}

.titulo_noticia h6{
    font-weight: 700;
    font-size: .8rem;
    color: var(--salmao);
}

.img_noticia{
    width: 100%;
    height: 15rem;
    background-image: url(/images/ifpa_imagem.jpg);
    background-size: cover;
}

.conteudo_noticia p{
    color: var(--cinza);
    text-align: justify;
}

@media screen and (max-width: 800px){
    .ultima_noticia{
        padding: 4rem;
    }

    .top_noticia{
        flex-direction: column;
    }

    .img_noticia{
        width: 100%;
        height: 20rem;
    }
}


/*MAIS NOTICIAS*/
.mais_noticias{
    padding: 2rem 4rem;
}

.mais_noticias h3{
    font-family: 'MuseoSlab';
    font-weight: 900;
    font-size: 1.5rem;
    color: var(--verde);
}
