@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --verde: #194039;
  --amarelo: #f2d16d;
  --ouro: #d9aa55;
  --salmao: #f26a4b;
  --branco: #fcfcfc;
  --preto: #1e1e1e;
  --cinza: #333333;
  --cinza-claro: #ececec;
}

* {
  border: none;
  outline: none;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins";
  font-size: 1rem;
  transition: all 300ms ease-in-out;
}

/*BOTÃO*/
.primary_btn {
  padding: 1rem 2rem;
  font-family: "MuseoSlab";
  color: var(--preto);
  font-weight: 700;
  display: flex;
  justify-content: center;
  width: fit-content;
  background-color: var(--amarelo);
}

.primary_btn:hover {
  background-color: #ceb25d;
}

.sub_btn_content {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.sub_btn {
  color: var(--verde);
  display: flex;
  font-family: "MuseoSlab";
  font-weight: 700;
  gap: 0.5rem;
  align-items: center;
  width: fit-content;
  padding: 0.5rem 1rem;
  justify-content: flex-end;
}

.sub_btn img {
  height: 1rem;
}

.sub_btn:hover {
  background-color: var(--cinza-claro);
}

/*HEADER*/
.header_mobile {
  display: none;
}

.menu_mobile,
.bg_menu {
  display: none;
}

.header_desktop {
  width: 100%;
  height: 3rem;
  position: fixed;
  z-index: 0;
  top: 0;
  background-color: var(--branco);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3rem;
  justify-content: space-between;
}

.logo_desktop {
  height: 2rem;
}

.logo_img {
  height: 90%;
}

.menu_desktop {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.menu_desktop a {
  color: var(--preto);
}

.menu_desktop a:hover{
  color: #333333;
}
.search_box {
  background-color: var(--cinza-claro);
  padding: 0.5rem 1rem;
  height: 3rem;
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  background-color: transparent;
  width: 100%;
}

.search_btn_icon {
  height: 60%;
}

.social_content {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.social {
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.social img {
  width: 100%;
}

.insta {
  background-color: #f24b73;
}

.x {
  background-color: #000000;
}

@media screen and (max-width: 1000px) {
  .static {
    overflow: hidden;
  }

  .header_desktop {
    display: none;
  }

  .header_mobile {
    width: 100%;
    position: fixed;
    z-index: 0;
    top: 0;
    height: 3rem;
    background-color: var(--branco);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3rem;
    justify-content: space-between;
  }

  .logo_mobile {
    height: 2rem;
  }

  .menu_icon,
  .close_icon {
    height: 1.5rem;
  }

  .bg_menu {
    width: 100%;
    z-index: 1;
    top: 0;
    height: 100vh;
    display: block;
    background-color: #00000049;
    position: fixed;
  }

  .menu_mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    right: 0;
    top: 0;
    padding: 2rem 3rem;
    padding-bottom: 4rem;
    justify-content: space-between;
    background-color: var(--verde);
    height: 100vh;
    position: fixed;
    width: 50%;
    z-index: 2;
  }

  .menu_hiddem {
    display: none;
  }

  .top_content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;
  }

  .nav_mobile {
    display: flex;
    margin-top: 2rem;
    gap: 1rem;
    flex-direction: column;
    align-items: flex-end;
  }

  .nav_mobile a:hover{
    color: #40a794;
  }

  .nav_mobile li {
    text-align: right;
  }

  .nav_mobile a {
    color: var(--branco);
  }

  .search_box {
    background-color: var(--cinza-claro);
    padding: 0.5rem 1rem;
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/*FOOTER*/
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  border-top: var(--verde) 0.5rem solid;
}

.logo_footer {
  height: 3rem;
}

.content_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.social_redes {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-self: flex-end;
}

footer h3 {
  font-family: "MuseoSlab";
  font-weight: 900;
  font-size: 1.5rem;
  text-align: right;
  color: var(--verde);
}

footer h4 {
  font-family: "poppins";
  font-weight: 600;
  text-align: right;
  color: var(--cinza);
}

@media screen and (max-width: 800px) {
  footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
  }

  footer h3,
  footer h4 {
    text-align: left;
  }

  .social_content {
    justify-content: flex-start;
  }
}

/*COPY*/
.copy {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--verde);
  height: 2rem;
}

.copy p {
  font-size: 0.7rem;
  color: var(--branco);
}

.copy b {
  font-size: 0.7rem;
  color: var(--branco);
  font-weight: 600;
}
